* {
	margin:0;
	padding:0;
}

a {
	color:#FFCC33;
	text-decoration:underline;
}

a:hover,
a:focus {
	text-decoration:none;	
}

h1 {
	color:#FFCC33;
	padding:10px;
	border-bottom:1px solid #FFCC33;
}

nav {
	height:25px;
	background-color:#444444;
	border-bottom:1px solid #FFCC33;
}

nav ul {
	list-style:none;	
}

nav li {
	float:left;
	padding:0 10px 0 10px;
}

nav .utilisateur {
	float:right;
	margin-right:10px;
	font-weight:bold;
	color:#FFFFFF;	
}

#page {
	margin:20px 0 20px 10px;	
}

#page input {
	margin:5px 0 5px 0;	
}

#page ul {
	list-style:none;
	margin-left:20px;
}

footer {
	padding:5px 0 0 10px;
	border-top:1px solid #FFCC33;	
}