.list {
  font-family:sans-serif;
  margin:0;
  padding:20px 0 0;
}
.list > li {
  background-color: #eee;
  padding:10px;
  box-shadow: inset 0 1px 0 #fff;
}

input {
  border:solid 1px #ccc;
  border-radius: 5px;
  padding:7px 14px;
  margin-bottom:10px
}
input:focus {
  outline:none;
  border-color:#aaa;
}

/*.name {
  display: inline-block;
  width: 400px;
}

.value {
  display: inline-block;
}

.update {
	align : right;
}*/